# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
.deps
conf-release
config.h.in.BAK
config.h.in~
haveip6.h
libtool
mpdev.spec
mpdev.changes
choose
create_service
lastfm-scrobbler
librefm-scrobbler
mpdev
mpdev.o
mpdev_maintenance
mpdplaylist
pathexec_env.o
pathexec_run.o
player
tcpopen.o
debian/changelog
debian/debian.tar.gz
debian/mpdev.dsc
debian/mpdev.install
debian/preinst
debian/postinst
debian/prerm
debian/rules
debian/control
debian/copyright
RCS
config.h
create_stats
mpdev_update
mpdev_update.o
replacestr.o
mpdev_cleanup
mpdev_cleanup.o
mpdev_rename
romprhist
misc
transfer_play
playpause
PKGBUILD
mpdev-release
karma
